<div class="container">
    <div class="right-side">
        <img src="assets/Left.png" class="right-img">
    </div>
    <div class="left-side">
        <div>
            <div class="title">
                Sign in
            </div>
            <div class="description">
                Don’t have an accout yet? Sign Up
                        </div>
            <form class="example-form">
                <mat-form-field class="example-full-width">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput placeholder="Ex. pat@example.com">
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <mat-label>password</mat-label>
                    <input type="password" matInput placeholder="password">
                </mat-form-field>
                <section class="example-section">
                    <mat-checkbox class="example-margin">I agree with Privacy Policy and Terms of Use</mat-checkbox>
                </section>
                <div class=button-class>
                    <button mat-raised-button>Sign in</button>
                </div>
            </form>
        </div>
    </div>
</div>