<div class="product" (click)="onClick()">
    <div class="absolut" *ngIf="product.discount">
        <div class="discount">-{{product.discount!.value! * 100}}%</div>
        <div class="wishlist-button">
            <img src="assets/heart_white.svg">
        </div>
    </div>
    <div class="hero-img">
        <img src="{{product.images ? product.images[0] : null  | image}}">
    </div>
    <div class="name">{{product.name}}</div>
    <div class="price" *ngIf="product.discount">
      <div class="current-price">${{product.price! | price: product.discount.value!}}</div>
      <div class="previous-price">${{product.price}}</div>
    </div>
    <div class="price" *ngIf="!product.discount">
      <div class="current-price">${{product.price}}</div>
    </div>
    <button class="button" (click)="onAddToCart()">
        Add to cart
    </button>
</div>
