<!-- app.component.html -->
<div class="title">
    <p>
      My Account
    </p>
  </div>
<div class="content">
  <div class="left-navigation">
    <div class="images-container" >
      <div class="center-container" >
      <div class="profile-picture-container">
        <img src="/assets/instagram.svg" alt="Profile Picture" class="profile-picture">
      </div>
      </div>
      <div class="photo-icon-container" >
      <img src="assets/heart_white.svg" class="photo-icon">
    </div>
    </div>
    <p> Firas Saada </p>
    <ul>
      <li class="line"><a href="#" style="cursor: pointer; color: black ;">Account</a></li>
      <li><a [routerLink]="['/orders']">Orders</a></li>
      <li><a [routerLink]="['/wishlist']">Wishlist</a></li>
      <li><a>Log Out</a></li>
    </ul>
  </div>
  <div class="form">
    <p>Account details</p>
    <div class="circular-input">
    <label >FIRST NAME *</label>
    <br>
    <input type="text"  name="myInput" placeholder="First name">
  </div>
    <div class="circular-input">
    <label >LAST NAME *</label>
    <br>
    <input type="text"  name="myInput" placeholder="Last name">
  </div>
    <div class="circular-input">
    <label >DISPLAY NAME *</label>
    <br>
    <input type="text"  name="myInput" placeholder="Display name">
  </div>
    <div class="circular-input">
    <label >EMAIL *</label>
    <br>
    <input type="text"  name="myInput" placeholder="Email">
  </div>
    <p>Password</p>
    <div class="circular-input">
    <label >OLD PASSWORD</label>
    <br>
    <input type="text"  name="myInput" placeholder="Old password">
</div>
    <div class="circular-input">
    <label >NEW PASSWORD</label>
    <br>
    <input type="text"  name="myInput" placeholder="New password">
  </div>
    <div class="circular-input">
    <label >REPEAT NEW PASSWORD</label>
    <br>
    <input type="text"  name="myInput" placeholder="Repeat new password">
  </div>
    <button class="save-button">Save Changes</button>
</div>
</div>
