<!--<div class="form" >-->
<!--  <p>Account details</p>-->
<!--  <form [formGroup]="form" (ngSubmit)="onSubmit()">-->
<!--    <div class="circular-input">-->
<!--      <label >FIRST NAME *</label>-->
<!--      <br>-->
<!--      <input type="text" formControlName="firstName" placeholder=>-->
<!--    </div>-->
<!--    <div class="circular-input">-->
<!--      <label >LAST NAME *</label>-->
<!--      <br>-->
<!--      <input type="text"  formControlName="lastName" [placeholder]="(User$ | async)?.id">-->
<!--    </div>-->
<!--    <div class="circular-input">-->
<!--      <label >ADDRESS *</label>-->
<!--      <br>-->
<!--      <input type="text"  formControlName="address" placeholder="Address">-->
<!--    </div>-->
<!--    <div class="circular-input">-->
<!--      <label >PHONE NUMBER *</label>-->
<!--      <br>-->
<!--      <input type="text" formControlName="phoneNumber" placeholder="Phone Number">-->
<!--    </div>-->
<!--   <button type="submit" class="save-button" >Save Changes</button>-->

<!--  </form>-->
<!--</div>-->
